/* LAYOUT */
html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-color: #f9ee73;
    height: 60px;
}

.navbar-light .navbar-nav .nav-link, button.nav-link {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #292929;
    background-color: #f9ee73;
}

.navbar-light .navbar-nav .nav-link:hover, button.nav-link:hover {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    color: #f9ee73;
    border: 1px solid #292929;
    border-radius: 5px;
    background-color: #292929;
}

button.nav-link:link, button.nav-link:visited, button.nav-link:active {
    text-decoration: none;
    color: #292929;
}

.dropdown-menu {
    background-color: #f9ee73;
}

ul.dropdown-menu li {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-right: 7px;
}

ul.dropdown-menu li img {
    display: inline-block;
    margin: 5px;
}

/*.dropdown-menu li:hover {
    background-color: #292929;
}*/

.dropdown-menu .dropdown-item:hover {
    padding: 3px 3px;
    margin-bottom: 2px;
    color: #f9ee73;
    background-color: #292929;
    border-radius: 5px;
}

ul.navbar-nav {
    margin-right: 20px;
}


.logo img {
    margin-left: 30px;
}

/* HOME LANDING PAGE */
.main {
    background: url('../images/bg-photos/home-bg.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 120px);
    color: #fff;
    position: relative;
}

.main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.main .content h1 {
    font-size: 55px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.main .content p {
    color: #fff;
    font-size: 23px;
}

.btn-content {
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px;
    color: #f9ee73;
    background-color: #292929;
    border: none;
    border-radius: 5px;
    margin: 10px;
    min-width: 130px;
}

.btn-content:hover {
    opacity: 0.9;
    color: #fff;
}

.btn-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main * {
    z-index: 10;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}


.sand-colour {
    color: #f9ee73;
}

#tblWords th, #tblWords td {
    text-align: center;
}

/* HOME WORDS LIST */
#words-list.words-list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.words-list-tblcontainer {
    margin: 30px auto;
    min-width: calc(100vw - 200px);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

h1.h2-text {
    margin: 20px;
    color: #333;
    text-align: center;
}

.tbl-container {
    background: #fff;
}

.tbl-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tblWords {
    background: #fff;
}
#tblWords th {
    background-color: #f9ee73;
}

button.dt-button {
    background: #f9ee73;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px;
    color: #292929;
    cursor: pointer;
    border-radius: 5px;
}

button.dt-button:hover {
    background: #292929;
    color: #f9ee73;
}

input[type="search"] {
    margin: 0px auto 10px;
}

#tblWords tbody tr.selected {
    color: white;
    background-color: #eeeeee;
}

/* Login and Register Pages */
#login-form.login-signup-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/login-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

#register-form.login-signup-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/register-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.login-signup-form {
    margin: auto auto;
    min-width: 600px;
    max-width: 800px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.login-signup-form .form-wrap {
    background: #fff;
    padding: 15px 25px;
}

.login-signup-form .form-wrap h1, .login-signup-form .form-wrap h1 {
    text-align: center;
}

.login-signup-form .form-wrap .form-group {
    margin-top: 15px;
}

.login-signup-form .form-wrap .form-group label {
    display: block;
    color: #666;
}

.login-signup-form .form-wrap .form-group .checkbox {
    display: flex;
    align-items: center;
}

.login-signup-form .form-wrap .form-group .checkbox label {
    display: block;
    color: #666;
    margin: 0px 10px;
}

.login-signup-form .form-wrap .form-group .checkbox input {
    display: block;
    width: auto;
}

.login-signup-form .form-wrap .form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.login-signup-form .form-wrap button {
    background: #292929;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #f9ee73;
    cursor: pointer;
}

.login-signup-form button:hover {
    background: #666666;
    color: #f9ee73;
}

.login-signup-form footer {
    text-align: center;
    margin-top: 10px;
}

.login-signup-form footer {
    color: #292929;
}

.login-signup-form a {
    text-decoration: none;
}

/* Create View */
#add-word-form.add-word-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/add-word-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.add-word-form {
    margin: auto auto;
    min-width: 1000px;
    max-width: 1200px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.add-word-form .form-wrap {
    background: #fff;
    padding: 15px 25px;
}

.add-word-form .form-wrap h1, .add-word-form .form-wrap h1 {
    text-align: center;
}

.add-word-form .form-wrap .form-group {
    margin-top: 15px;
}

.add-word-form .form-wrap .form-group label {
    display: block;
    color: #000;
}


.add-word-form .form-wrap .form-group input {
    border: #ddd 1px solid;
    border-radius: 5px;
}

.add-word-form .form-wrap button {
    background: #292929;
    width: 30%;
    padding: 10px;
    margin: 20px 0;
    color: #f9ee73;
    cursor: pointer;
}

.add-word-form button:hover {
    background: #f9ee73;
    color: #292929;
}

/* Create View */
#edit-word-form.edit-word-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/edit-word-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.edit-word-form {
    margin: 30px auto;
    max-width: 800px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
}

.edit-word-form .form-wrap {
    background: #fff;
    padding: 15px 25px;
}

.edit-word-form .form-wrap h1, .add-word-form .form-wrap h1 {
    text-align: center;
}

.edit-word-form .form-wrap .form-group {
    margin-top: 15px;
}

.edit-word-form .form-wrap .form-group label {
    display: block;
    color: #000;
}

.edit-word-form .form-wrap .form-group input {
    border: #ddd 1px solid;
    border-radius: 5px;
}

.edit-word-form .form-group button, .edit-word-form .form-group a {
    background: #292929;
    padding: 10px;
    width: 49%;
    margin: 20px 0;
    color: #f9ee73;
    cursor: pointer;
}

.edit-word-form .form-group button:hover, .edit-word-form .form-group a:hover {
    background: #f9ee73;
    color: #292929;
}

/* Details View */
#details-card.details-card-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/edit-word-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.details-card-holder {
    margin: 30px auto;
    min-width: 600px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#details-card-footer a {
    background: #292929;
    padding: 5px;
    width: 22%;
    margin: 10px 0;
    color: #f9ee73;
    cursor: pointer;
}

#details-card-footer a:hover {
    background: #f9ee73;
    color: #292929;
}

.card-body #photo {
    max-height: 200px;
}

/* EXERCISE & REVISION DETAILS */
.card-group {
    display: flex;
    flex-wrap: wrap;
}

.ex-details-body .card {
    margin: 20px;
    padding: 20px;
}

.details-btn-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

create-word-btn-holder

.details-btn-holder a {
    width: 20%;
}

.ex-details-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/ex-rev-details.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
}

/* LEARN LISTEN View */

.learn-listen-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/learn-listen-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
}

.learn-listen-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

    .learn-listen-holder button {
        width: 20%;
    }

.learn-listen-form {
    margin: auto;
    min-width: 1000px;
    max-width: 1200px;
    border-radius: 5px;
}

    .learn-listen-form form {
        padding-top: 50px;
    }


/* Learn write */

.learn-write-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/learn-write-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
}

.learn-write-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.learn-write-holder button {
    margin-top: 30px;
    width: 20%;
    background-color: #f9ee73;
    color: #292929;
}

.learn-write-holder button:hover {
    background-color: #292929;
    color: #f9ee73;
    border: 1px solid #f9ee73;
    border-radius: 5px;
}

.learn-write-form {
    margin: auto;
    min-width: 1000px;
    max-width: 1200px;
    border-radius: 5px;
}

.learn-write-form form {
    padding-top: 50px;
}


/* revise write */

.revise-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/revise-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
}

.revise-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.revise-holder button {
    margin-top: 30px;
    width: 20%;
}

.revise-form {
    margin: auto;
    min-width: 1000px;
    max-width: 1200px;
    border-radius: 5px;
}

    .revise-form form {
        padding-top: 50px;
    }

/* Other views */

.overlay {
    background: url('../images/bg-photos/other-views-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: calc(100vh - 120px);
    color: #fff;
    position: relative;
}

.overlay * {
    z-index: 20;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 200px 20px;
}

.overlay-content h1 {
    font-size: 55px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.overlay-content p {
    color: #fff;
    font-size: 23px;
}

.other-btn-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

/* Roles View */

#roles-card.roles-card-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.roles-card-holder {
    padding: 20px;
    margin: 30px auto;
    min-width: 600px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Edit Role */

#edit-role-form.edit-role-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.edit-role-holder {
    padding: 20px;
    margin: 30px auto;
    min-width: 600px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.edit-role-btn-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.edit-role-btn-holder > *{
    margin: 20px 10px;
}

/* New Role */

#new-role-form.new-role-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.new-role-holder {
    padding: 20px;
    margin: auto;
    min-width: 600px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.new-role-btn-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.new-role-btn-holder button {
    margin-top: 30px;
}

/* Edit Users In Role */

#edit-usersInRole-form.edit-usersInRole-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.edit-usersInRole-holder {
    padding: 20px;
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Users View */

#users-card.users-card-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    min-height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.users-card-holder {
    padding: 20px;
    margin: 30px auto;
    min-width: 600px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Edit User */

#edit-user-form.edit-user-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.edit-user-holder {
    padding: 20px;
    margin: auto;
    min-width: 600px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.edit-user-btn-holder {
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.edit-user-btn-holder > * {
    margin: 20px 10px;
}

/* Manage User Roles */

#manage-userroles-form.manage-userroles-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../images/bg-photos/admin-bg.jpg') no-repeat center center;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    align-items: center;
}

.manage-userroles-holder {
    padding: 20px;
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Access Denied */
.acess-denied-container {
    background-size: cover;
    min-height: calc(100vh - 120px);
    color: #f00;
}

.acess-denied-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
