@{
	ViewBag.Title = "You completed all revisions for today";
}

<div class="overlay">
    <div class="overlay-content">
        <h1 class="text-center">You completed all revisions for today</h1>
        <div class="other-btn-holder">
            <a asp-controller="home" asp-action="index" class="btn btn-content">
                Click here to navigate to the home page
            </a>
        </div>
        @if (ViewBag.AudioPath != null)
		{
			<audio id="audioPlayer" src="@ViewBag.AudioPath" type="audio/wav" autoplay></audio>
		}
    </div>
</div>