@model IEnumerable<PersianMemo.Models.Word>
@inject SignInManager<IdentityUser> signInManager
@inject LanguageService language

@{
    ViewData["Title"] = language.Getkey("homePage");
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">@language.Getkey("revisionsCalendar")</h2>
    </div>
</div>


<div id="calendar"></div>

@section Scripts {
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: [
            {
              title: 'All Day Event',
              start: '2022-06-01'
            },
            {
              title: 'Long Event',
              start: '2022-06-07'
            },
            {
              title: 'Conference',
              start: '2022-06-11'
            },
            {
              title: 'My Birthday',
              start: '2022-06-13'
            },
            {
              title: 'Lunch',
              start: '2022-06-12T12:00:00'
            },
            {
              title: 'Meeting',
              start: '2022-06-12T14:30:00'
            },
            {
              title: 'Party',
              start: '2022-06-23'
            },
            {
              title: 'Click for Google',
              url: 'http://google.com/',
              start: '2022-04-28'
            }
          ]
        });
          
        calendar.render();
        });
    </script>
}