<div class="confirmEmail-body">
    <div class="confirmEmail-holder">
        <h1 class="text-success text-center">Thank you for confirming your email!</h1>
        <h5 class="text-danger text-center">
            You can now to proceed to the login page!
        </h5>
    </div>
</div>
