@model ForgotPasswordViewModel
@inject LanguageService language

@{
    ViewBag.Title = language.Getkey("forgotPassword");
}

<div id="login-form" class="login-signup-body">
    <div class="login-signup-form">
        <div class="form-wrap">
            <h1>@language.Getkey("forgotPassword")</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn">@language.Getkey("submit")</button>
            </form>
        </div>
    </div>
</div>
