<div class="fgtPassword-body">
    <div class="fgtPassword-holder">
        <h5 class="text-danger text-center">
            If you have an account with us, we have sent an email
            with the instructions to reset your password.
        </h5>
    </div>
</div>
