<div class="regSucc-body">
    <div class="regSucc-holder">
        <h1 class="text-success text-center">Registration successful!</h1>
        <h5 class="text-danger text-center">
            Before you can login, please open your mailbox and confirm your email by clicking on the confirmation link sent to you;
        </h5>
    </div>
</div>