@{
    ViewBag.Title = "You have not selected any words to practise!";
}

<h1>You have no revisions for today</h1>

<a asp-controller="home" asp-action="index">
	"You have not selected any words to practise!"
</a>
