@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="overlay">
    <div class="overlay-content">
        <div class="alert alert-danger mt-1 mb-1">
            <h4>404 Not Found Error:</h4>
            <hr />
            <h5>
                Word with ID = @Model cannot be found
            </h5>
        </div>        <div class="other-btn-holder">
            <a asp-controller="home" asp-action="index" class="btn btn-content">
                Click here to return to the list of words
            </a>
        </div>
    </div>
</div>